{% extends 'base.html' %}
{% block content %}
<center>
    {% if searched %}
    <h4><i>You Have Searched For...{{searched}} </i></h4>
    <br>
    </center>
<div class="container">
    <div class="row">
        {% for i in movie %}
        <div class="col-md-2">
            <br>
            <div class="card" style="width: 11rem;">
  <img src="{{i.img.url}}" class="card-img-top" alt="..." width=120px" height="120px">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.year}}</p>
<!--       <p class="card-text">{{i.category}}</p>-->
    <a href="{% url 'finalapp:detail' i.id %}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
        </div>
        <br>
        {% endfor %}
        </div>
    </div>
</body>
</html>



    {% else %}
    <h1>0 result found</h1>
    {% endif %}
{% endblock %}


